main {
  min-height: 65vh;
}

footer {
  position: relative;
  bottom: 0;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

story-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
