* {
  box-sizing: border-box;
}

main {
  story-list {
    .render-container {
      min-height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  story-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  register-view,
  login-view {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form {
      min-width: 280px;

      @media (min-width: 720px) {
        min-width: 400px;
      }
    }
  }
}

footer {
  padding-bottom: 1rem;
  margin-top: 3rem;
}
