* {
  box-sizing: border-box;
}

main {
  story-list {
    .render-container {
      min-height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  story-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer {
  padding-bottom: 1rem;
  margin-top: 3rem;
}
